<li>
  <div class="adiv"><%= gravatar_for user, size: 50%>
  	<div class="cover-bg"> <div class="cover-title"><%= link_to user.name, user %></div></div>
   

  </div>
  
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, method: :delete,
                                  data: {confirm: "You sure?"} %>
  <% end %>
</li>