<% provide(:title, "All users") %>
<br> <br>
<hr>
<h1>All users</h1>
<hr>
<%= will_paginate class: 'paginator' %>
<ul class="users">
  <% @users.each do |user| %>
      <%= render user %>
  <% end %>
</ul>


