@import "bootstrap-sprockets";
@import "bootstrap";

@import url('font-awesome.min.css');
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,400italic,600italic|Roboto+Slab:400,700");


$gray-medium-light: #eaeaea;

p,body,a{
  font-family: "Roboto Slab";
}

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
  /* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* universal */

body {
  padding-top: 60px;
  background-color: #f2f0ec;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Slab";
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
header.navbar.navbar-fixed-top.navbar-inverse{
  background-color: #41474a;
  .container{
    background-color: #41474a;
    color: #f2f0ec;
  }
}
#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: #555;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
  width: 100px;
  height: 100px;
  border-radius: 50px; /* половина ширины и высоты */
  margin: 10px;
  vertical-align: middle;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: gray;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
    width: 100px;
  height: 100px;
  border-radius: 50px; /* половина ширины и высоты */
  margin: 10px;
  vertical-align: middle;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}
/* forms */
body, input, select, textarea {
    color: #7f888f;
    font-family: "Open Sans", sans-serif;
    font-size: 13pt;
    font-weight: 400;
    line-height: 1.65;
  }

input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="url"],
  select,
  textarea {
    -moz-appearance: none;
    -webkit-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: #ffffff;
    border-radius: 0.375em;
    border: none;
    border: solid 1px rgba(210, 215, 217, 0.75);
    color: inherit;
    display: block;
    outline: 0;
    padding: 0 1em;
    text-decoration: none;
    /*width: 100%;*/
  }

    input[type="text"]:invalid,
    input[type="password"]:invalid,
    input[type="email"]:invalid,
    input[type="tel"]:invalid,
    input[type="search"]:invalid,
    input[type="url"]:invalid,
    select:invalid,
    textarea:invalid {
      box-shadow: none;
    }

    input[type="text"]:focus,
    input[type="password"]:focus,
    input[type="email"]:focus,
    input[type="tel"]:focus,
    input[type="search"]:focus,
    input[type="url"]:focus,
    select:focus,
    textarea:focus {
      border-color: #f56a6a;
      box-shadow: 0 0 0 1px #f56a6a;
    }

  .select-wrapper {
    text-decoration: none;
    display: block;
    position: relative;
  }

    .select-wrapper:before {
      -moz-osx-font-smoothing: grayscale;
      -webkit-font-smoothing: antialiased;
      font-family: FontAwesome;
      font-style: normal;
      font-weight: normal;
      text-transform: none !important;
    }

    .select-wrapper:before {
      color: rgba(210, 215, 217, 0.75);
      content: '\f078';
      display: block;
      height: 2.75em;
      line-height: 2.75em;
      pointer-events: none;
      position: absolute;
      right: 0;
      text-align: center;
      top: 0;
      width: 2.75em;
    }

    .select-wrapper select::-ms-expand {
      display: none;
    }

  input[type="text"],
  input[type="password"],
  input[type="email"],
  input[type="tel"],
  input[type="search"],
  input[type="url"],
  select {
    height: 2.75em;
  }

  textarea {
    padding: 0.75em 1em;
  }

    input[type="checkbox"] + label,
    input[type="radio"] + label {
      text-decoration: none;
      color: #7f888f;
      cursor: pointer;
      display: inline-block;
      font-size: 1em;
      font-weight: 400;
      padding-left: 2.4em;
      padding-right: 0.75em;
      position: relative;
    }

      input[type="checkbox"] + label:before,
      input[type="radio"] + label:before {
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        text-transform: none !important;
      }

      input[type="checkbox"] + label:before,
      input[type="radio"] + label:before {
        background: #ffffff;
        border-radius: 0.375em;
        border: solid 1px rgba(210, 215, 217, 0.75);
        content: '';
        display: inline-block;
        height: 1.65em;
        left: 0;
        line-height: 1.58125em;
        position: absolute;
        text-align: center;
        top: 0;
        width: 1.65em;
      }

    input[type="checkbox"]:checked + label:before,
    input[type="radio"]:checked + label:before {
      background: #3d4449;
      border-color: #3d4449;
      color: #ffffff;
      content: '\f00c';
    }

    input[type="checkbox"]:focus + label:before,
    input[type="radio"]:focus + label:before {
      border-color: #f56a6a;
      box-shadow: 0 0 0 1px #f56a6a;
    }

  input[type="checkbox"] + label:before {
    border-radius: 0.375em;
  }

  input[type="radio"] + label:before {
    border-radius: 100%;
  }

  ::-webkit-input-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
  }

  :-moz-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
  }

  ::-moz-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
  }

  :-ms-input-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
  }

  .formerize-placeholder {
    color: #9fa3a6 !important;
    opacity: 1.0;
  }

/*input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}*/

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* ====== Users index ====== */

.users {
  width: 100%;
  list-style: none;
  margin: 40px auto;
  overflow: auto;
  li {
    /*padding: 10px 0;*/
    border-bottom: 1px solid $gray-lighter;
  }
}

.adiv {
      display: block;
      float: left;
      width: 12.5%;
      padding: 20px;
      /*margin: 15px;*/
      .adiv.username{
        margin: 15px;
      }
     /* flex-direction: column;*/
    }


/* MEDIA QUERIES*/
@media only screen and (max-width : 1220px),
only screen and (max-device-width : 1220px){
    .adiv {
        font: 400 10px/1.4 StrangeFont;
    }
    
}

@media only screen and (max-width : 930px),
only screen and (max-device-width : 930px){
    .adiv {
        width: 25%;
        font: 400 11px/1.4 StrangeFont;
    }
}

@media only screen and (max-width : 580px),
only screen and (max-device-width : 580px){
    .adiv {
        width: 50%;
        font: 400 12px/1.4 StrangeFont;
        padding-top: 12px;
        padding-bottom: 12px;
    }
}

@media only screen and (max-width : 320px),
only screen and (max-device-width : 320px){
    .adiv {
        font: 400 11px/1.4 StrangeFont, sans-serif;
    }
}

/* ====== microposts ====== */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    font-size: 9pt;
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
    width: 50px;
  height: 50px;
  border-radius: 25px; /* половина ширины и высоты */
  margin: 10px;
  vertical-align: middle;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}

span.picture {
  margin-top: 10px;
  input {
    border: 0;
  }
}

div.new-post-form {
  display: none;
}

ul.posts {
  list-style: none;
  margin: 0;
  padding: 0;
  li.single-post {
    list-style: none;
    overflow: auto;
    padding: 10px;
    background-color: #e9e9e9;
    border-radius: 10px;
    margin: 30px auto;
    a.post-title {
      font-weight: bold;
      font-size: 1.5em;
      color: #41474a;
      text-transform: uppercase;
    }
    p.post-content {
      font-size: 1em;
      padding: 10px;
      line-height: 1,5pt;
    }
    div.post-stats span {
      display: block;
    }
    .date-created, .user-created, .is-closed{
      font-size: 9pt;
      line-height: 13pt;
      color: black;
  }
    .smallgravatar{
      border-radius: 10px;
      background-color: #e4dedf;
      overflow: auto;
      float: left;
      margin: 30px auto;
      padding: 10px;
      .gravatar{
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        width: 30px;
        height: 30px;
        border-radius: 15px; //половина ширины и высоты 
        margin: 10px;
        vertical-align: middle;
      }  
    }
  }
}


div.single-post {
  padding: 10px;
  background-color: #e9e9e9;
  border-radius: 10px;
  margin: 30px auto;
  overflow: auto;
  p.post-title {
    font-weight: bold;
    font-size: 1.5em;
  }
  p.post-content {
    font-size: 1em;
  }
  div.post-stats span {
    display: block;
  }
  .date-created, .user-created, .is-closed{
      font-size: 9pt;
      line-height: 13pt;
      color: black;
  }
    .smallgravatar{
      border-radius: 10px;
      background-color: #e4dedf;
      overflow: auto;
      float: right;
      margin: 30px auto;
      padding: 10px;
      .gravatar{
        float: left;
        margin-right: 5px;
        margin-top: 5px;
        width: 30px;
        height: 30px;
        border-radius: 15px; //половина ширины и высоты 
        margin: 10px;
        vertical-align: middle;
      }  
    }
  .vote{
    float: left;
    .voice-up{
      background-color: #e3ffcf;
      text-align: center;
    }
    .voice-down{
      text-align: center;
      background-color: #ffcfcf;
    }
  }
}

.paginator{
  float: right;
  li.active{
    background-color: orange;
  }
}

.container{
  width: 85%;
  /*background-color: #f2f0ec;*/
}

.btn.btn-primary.vote-up{
  background-image: url(thumb-up.png);
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  width: 32px;
}
.btn.btn-primary.vote-down{
  background-image: url(thumb-down.png);
  background-color: #e9e9e9;
  border-color: #e9e9e9;
  width: 32px;
}
.btn.btn-primary.accept{
  background-color: #44a300;
}
.btn.btn-primary.accept::hover{
  background-color: #235400;
}


hr{
    border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

.btn.btn-primary{
  background-color: #000000;
  color: #f2f0ec;
}