<footer class="footer">
  <nav>
    <ul>
      <li>Backend -- Miroslav Sviderock</li>
      <li>|</li>
      <li>Frontend -- Caroline Kupishevskaya</li>
      <li>|</li>
      <li>PM -- Valentine Kachur</li>
    </ul>
  </nav>
</footer>